{% extends "index.html" %}

{% block title %} {{ config.title }} | {{ page.title }} {% endblock title %}

{% block description %}{{ page.description | default(value=page.summary | default(value='Psychonautics Encyclopedia - ' ~ page.title)) }}{% endblock description %}

{% block og_title %}{{ page.title }} | {{ config.title }}{% endblock og_title %}
{% block og_description %}{{ page.description | default(value=page.summary | default(value='Detailní informace o ' ~ page.title)) }}{% endblock og_description %}
{% block og_url %}{{ page.permalink }}{% endblock og_url %}
{% block og_image %}{% if page.extra.og_image %}{{ get_url(path=page.extra.og_image) | safe }}{% else %}{{ get_url(path='images/og-default.png') | safe }}{% endif %}{% endblock og_image %}

{% block twitter_title %}{{ page.title }} | {{ config.title }}{% endblock twitter_title %}
{% block twitter_description %}{{ page.description | default(value=page.summary | default(value='Detailní informace o ' ~ page.title)) }}{% endblock twitter_description %}
{% block twitter_image %}{% if page.extra.og_image %}{{ get_url(path=page.extra.og_image) | safe }}{% else %}{{ get_url(path='images/og-default.png') | safe }}{% endif %}{% endblock twitter_image %}

{% block canonical %}{{ page.permalink }}{% endblock canonical %}

{% block content %}
    {{ page.content | safe }}
{% endblock content %}
